.errorText {
    font-size: 240px;
    color: #e86a6a;
  }
  
  .errorDescription {
    font-size: 30px;
    color: #e86a6a;
  }

  .returnButton {
    text-decoration: underline;
    color: #e86a6a;
  }

  .errorDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }