.active,
.collapse :hover {
  background-color: #f39393;
}

.panel {
  background-color: #F6F6F6;
  overflow: hidden;
  border-radius: 0px 0px 5px 5px;
}

.collapse-container {
  padding: 10px;
}

.panel p {
  padding: 5px;
}

/*Media @Mobile screens */
@media screen and (max-width: 500px) {
  .container {
    padding: 0;
  }
}