.active,
.collapse :hover {
  background-color: #f39393;
}

.panel {
  background-color: #F6F6F6;
  overflow: hidden;
}

.container {
  padding: 20px 70px;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0;
  }
}