.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
}

.logo img {
    height: 50px;
    width: 180px;
}

.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.link {
    text-decoration: none;
    color: #e86a6a;
}