.errorText {
    font-size: 160px;
    color: #e86a6a;
    text-align: center;
  }

.errorDescription {
  font-size: 30px;
  color: #e86a6a;
  text-align: center;
} 

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.returnButton {
  text-decoration: underline;
  color: #e86a6a;
}

  