.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
  }
  
  .logo img {
    height: 50px;
  }
  
  .links .link {
    margin-right: 40px;
    text-decoration: none;
    color: #e86a6a;
  }
  
  .img-bg {
    width: 100%;
    height: 300px;
    border-radius: 30px;
  }
  
  .image-container {
    padding: 20px 70px;
    border-radius: 10px;
    overflow: hidden;
    background-size: auto;
    position: relative;
  }
  
  .flex-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 10px 50px;
  }
  
  .flex-item {
    padding: 20px;
  }

  .grid-img {
    border-radius: 10px;
  }
  
  .text {
    color: white;
    font-size: 60px;
    padding-top: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: -230px;
  }
  